name: CI

on:
  push:
    branches: [ main ]

jobs:
  integrationTests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm start &
      - run: npx newman run tests/oilintegrationv2.json
      - run: npx newman run tests/wineintegrationv2.json
      - run: npx newman run tests/nutsintegrationv2.json